@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

form {
  margin: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.weather-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-container h2 {
  margin-bottom: 5px; 
}

.weather-container .subtext {
  font-size: 1.1rem;
  margin-top: 0; 
  margin-bottom: 0; 
}

.weather-container .datetime {
  font-size: 0.85rem;
  margin-bottom: 15px;
  color: #333;
}

.weather-container .temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
  font-size: 2rem; 
  font-weight: bold;
}

.weather-container .temperature-container .temp {
  font-size: 3rem; 
}

.weather-container .temperature-container .feels-like {
  font-size: 1.5rem; 
  color: gray; 
  font-weight: normal;
}

.weather-container .condition {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.weather-container .description {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.weather-container .humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: 10px;
}

.weather-container .humidity-icon {
  width: 25px;
  height: 25px;
}

.weather-container .description {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .App {
    padding: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  .weather-container {
    padding: 30px;
  }

  .weather-container p {
    font-size: 1.4rem;
  }
}